<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Csp\Model\SubresourceIntegrity\SriEnabledActions">
        <plugin name="elsnertech_disable_sri_for_checkout"
                type="Elsnertech\DisableSri\Plugin\DisableSriForCheckout"/>
    </type>
</config>

